:root {
  --col-primary: #191d2b;
  --col-secondary: #27AE60;
  --col-white: #FFFFFF;
  --col-black: #000;
  --col-gray-0: #f8f8f8;
  --col-gray-1: #dbe1e8;
  --col-gray-2: #b2becd;
  --col-gray-3: #6c7983;
  --col-gray-4: #454e56;
  --col-gray-5: #2a2e35;
  --col-gray-6: #12181b;
  --shadow-1: 0 3px 15px rgba(0, 0, 0, .3);
  --br-small: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--col-primary);
  font-size: 1.1rem;
  color: var(--col-white);
  transition: all 400ms ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  height: 100vh;
  color: var(--col-white);
  overflow: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.section {
  transform: translateY(-100%) scale(0);
  transition: all 400ms ease-in-out;
}

.sec1, .sec2, .sec3, .sec4, .sec5 {
  display: none;
  transform: translateY(0) scale(1);
}

.active {
  display: block;
  animation: scaleAnim 1000ms ease-in-out;
}
@keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

.btn-active {
  background-color: var(--col-secondary) !important;
  transition: all 400ms ease-in-out;
}
.btn-active i {
  color: var(--col-white) !important;
}

/* CONTROLS */
.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 20;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
}
.controls .control {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--col-gray-4);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.7rem 0;
  box-shadow: var(--shadow-1);
}
.controls .control i {
  font-size: 1.2rem;
  color: var(--col-gray-2);
  pointer-events: none;
}

/* HEADER */
.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}
.header-content-left {
  display: flex;
  align-items: center;
  position: relative;
}
.header-content-left-shape {
  transition: all 400ms ease-in-out;
  width: 65%;
  height: 100%;
  background-color: var(--col-secondary);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
}
.header-content-left-img {
  border-radius: var(--br-small);
  width: 68%;
  height: 90%;
  margin-left: 4rem;
  background-color: var(--col-black);
  transition: all 400ms ease-in-out;
}
.header-content-left-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 400ms ease-in-out;
  filter: grayscale(100%);
}
.header-content-left-img img:hover {
  filter: grayscale(0%);
}
.header-content-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 18rem;
}
.header-content-right .my-name {
  font-size: 3rem;
}
.header-content-right .my-name span {
  color: var(--col-secondary);
}
.header-content-right p {
  margin: 1.5rem 0;
  line-height: 2rem;
}

.dl-btn-container {
  display: flex;
  align-self: flex-start;
}

.dl-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--col-secondary);
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
}
.dl-btn-text {
  padding: 0 2rem;
}
.dl-btn-icon {
  background-color: var(--col-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
.dl-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 400ms ease-out;
  z-index: -1;
}
.dl-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--col-secondary);
  transform: translateX(0);
  transition: all 400ms ease-out;
}

.section-title {
  text-align: center;
}
.section-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
}
.section-title h2 span {
  color: var(--col-secondary);
  width: 100%;
}
.section-title h2 .title-bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--col-gray-5);
  transition: all 400ms ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-size: 6.3rem;
  font-weight: 800;
}

/* ABOUT ME */
.about-container {
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}
.about-container .about p {
  line-height: 2rem;
  padding: 1rem;
  color: var(--color-grey-1);
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.about-container .about h4 {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}
.about-container .about .dl-btn-container {
  justify-content: flex-end;
}

.about-stats {
  padding-bottom: 4rem;
}
.about-stats .skills {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 2rem;
}
.about-stats .skills .skill {
  text-align: center;
}
.about-stats .skills .skill:hover {
  transition: all 400ms ease-in-out;
  transform: scale(1.3);
}
.about-stats .skills .skill img {
  width: 50%;
}

.stat-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  padding: 3.5rem 0;
  position: relative;
}
.stat-title::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 40%;
  height: 1px;
  background-color: var(--col-gray-5);
  transform: translateX(-50%);
}

/* TIMELINE */
.timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-bottom: 3rem;
}
.timeline-experience {
  position: relative;
  padding-left: 3rem;
  border-left: 1px solid var(--col-gray-5);
}
.timeline-experience-icon {
  position: absolute;
  left: -27px;
  top: 0;
  background-color: var(--col-secondary);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timeline-experience-icon i {
  font-size: 1.3rem;
}
.timeline-experience-duration {
  padding: 0.2rem 0.6rem;
  background-color: var(--col-gray-5);
  border-radius: 15px;
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}
.timeline-experience h5 {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
}
.timeline-experience h5 span {
  font-size: 1.2rem;
  color: var(--col-gray-2);
  font-weight: 500;
}
.timeline-experience p {
  color: var(--col-gray-2);
}

/* PORTFOLIO */
.portfolio-text {
  padding: 2rem 0;
  text-align: center;
}

.portfolio-projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}
.portfolio-projects .portfolio-item {
  position: relative;
}
.portfolio-projects .portfolio-item:hover {
  cursor: pointer;
}
.portfolio-projects .portfolio-item:hover .portfolio-item-hover {
  opacity: 1;
  transform: scale(1);
}
.portfolio-projects .portfolio-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}
.portfolio-projects .portfolio-item-hover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--col-secondary);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  opacity: 0;
  transform: scale(0);
  transition: all 400ms ease-in-out;
}
.portfolio-projects .portfolio-item-hover h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--col-white);
}
.portfolio-projects .portfolio-item-hover .portfolio-item-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-projects .portfolio-item-hover .portfolio-item-icons .portfolio-icon {
  background-color: var(--col-primary);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}
.portfolio-projects .portfolio-item-hover .portfolio-item-icons .portfolio-icon i {
  font-size: 1.5rem;
  color: var(--col-white);
  margin: 0 1rem;
}
.portfolio-projects .portfolio-item-hover .portfolio-item-icons .portfolio-icon:hover {
  background-color: var(--col-white);
}
.portfolio-projects .portfolio-item-hover .portfolio-item-icons .portfolio-icon:hover i {
  color: var(--col-primary);
}