/* SMALL SCREENS */

@media screen and (max-width: 600px) {
  .section {
    padding: 2rem 2.5rem !important;
  }

  .section-title h2 {
    font-size: 2rem;

    span {
      font-size: 2.5rem;
    }

    .title-bg-text {
      font-size: 3rem;
    }
  }

  

  .theme-switch {
    width: 50px;
    height: 50px;
  }

  .about-container {
    grid-template-columns: 1fr;
  }

  .about {
    padding-top: 2.5rem;
    grid-template-columns: 1fr;
  }

  .about-skills .skills {
    grid-template-columns: repeat(2, 1fr);
  }

  .timeline {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }

  .portfolio-projects {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 700px) {
  .section {
    padding: 7rem 3rem;
  }

  .section-title {

    h2 {
      font-size: 3rem;

      span {
        font-size: 3rem;
      }

      .title-bg-text {
        font-size: 4rem;
      }
    }
  }
}

@media screen and (max-width: 970px) {
  .section {
    padding: 7rem 6rem;
  }

  header {
    padding: 0;
  }

  .header-content {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }

  .header-content-left {
    &-shape {
      display: none;
    }

    &-img {
      margin: 0 auto;
      width: 90%;
    }
  }

  .header-content-right {
    padding: 0 !important;
    grid-row: 1;
    width: 90%;
    margin: 0 auto;

    .my-name {
      font-size: 2.5rem !important;
    }
  }

  .controls {
    width: 100%;
    top: auto;
    bottom: 0;
    left: 50%;
    flex-direction: row;
    justify-content: center;
    transform: translateX(-50%);
    background-color: var(--col-gray-5);

    .control {
      margin: 0.6rem 1rem !important;
    }
  }
}

@media screen and (max-width: 1070px) {

  .section-title {

    h2 {
      font-size: 4rem;
      
      span {
        font-size: 4rem;
      }

      .title-bg-text {
        font-size: 4.5rem;
      }
    }
  }

  .about-container {
    grid-template-columns: 1fr;
  }

  .about {
    padding-top: 2.5rem;
  }

  .portfolio-projects {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1432px) {

  header {
    padding: 0 !important;
  }

  .section {
    padding: 7rem 11rem;
  }

  .about-skills .skills {
    grid-template-columns: repeat(4, 1fr);
  }

  .contact-content {
    flex-direction: column;

    .contact-right {
      margin-left: 0;
      margin-top: 2.5rem;

      .contact-input-control:first-child {
        flex-direction: column;

        input:last-child {
          margin-left: 0;
          margin-top: 1.5rem;
        }
      }
    }
  }
}