@media screen and (max-width: 600px) {
  header {
    padding: 0;
  }

  .header-content {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }

  .header-content-left {
    &-shape {
      display: none;
    }

    &-img {
      margin: 0 auto;
      width: 90%;
    }
  }

  .header-content-right {
    padding: 2rem !important;
    grid-row: 1;
    width: 90%;
    margin: 0 auto;

    .my-name {
      font-size: 2.5rem !important;
    }
  }

  .theme-switch {
    width: 50px;
    height: 50px;
  }

  .controls {
    width: 100%;
    top: auto;
    bottom: 0;
    left: 50%;
    flex-direction: row;
    justify-content: center;
    transform: translateX(-50%);
    background-color: var(--col-gray-5);

    .control {
      margin: 1rem 0.3rem;
    }
  }
}