:root {
  //color palette
  --col-primary: #150926;
  --col-secondary: #BF3604;
  --col-white: #FFFFFF;
  --col-black: #000;
  --col-gray-0: #f8f8f8;
  --col-gray-1: #dbe1e8;
  --col-gray-2: #b2becd;
  --col-gray-3: #6c7983;
  --col-gray-4: #454e56;
  --col-gray-5: #2a2e35;
  --col-gray-6: #12181b;

  //other
  --shadow-1: 0 3px 15px rgba(0, 0, 0, .3);
  --br-small: 14px;
}

.light-mode {
  //color palette
  --col-primary: #FFFFFF;
  --col-secondary: #F56692;
  --col-white: #454e56;
  --col-black: #000000;
  --col-gray-0: #f8f8f8;
  --col-gray-1: #6c7983;
  --col-gray-2: #6c7983;
  --col-gray-3: #6c7983;
  --col-gray-4: #454e56;
  --col-gray-5: #f8f8f8;
  --col-gray-6: #12181b;
}